
.reffs {
    margin-left: 2em;
}
.reffs > .col-md-1 {
    width: auto;
}
.reffs > section{
    margin: 3em 0em 0em 0em;
}

#aside {
    resize: yes;
    padding: 3em 1em 1em 0.5em;
    width: 230px;
    border-left: 1px solid #DDD;
    border-right: none;

    margin-top: 3em;
    scrollbar-width: none;
    overflow: initial;

    color : inherit;
    font-size : 16px;
}

#intro-index {
    margin-top: 3em;
    padding-right: 4em;
}

#navigation-header {
    margin-top: 20px;
}

#collections {
    margin-top: 20px;
}

#menu-container {
    width: 25%;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}


#reading-container {
    width: 75%;
    border-left: #C9C6BB 1px solid;
    height: fit-content;
}

#center {
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
}

.ListeData {
    margin-left: 1.5em;
}

.ListeData::-webkit-scrollbar {
    display: none;
}
#body-1 {
    padding-top: 0;
}

#body-1-1 {
    padding-top: 0;
}

#main {
    width: 100%;
}

.titlepage{
    margin-top: 1pc;
    text-align: center;
}

.name{
    margin-top: 0.5pc;
}
.titlepage{
    font-variant: small-caps;
}

.forename{
    font-variant: small-caps;
}

.surname{
    text-transform: uppercase;
}

.roleName{
    font-style: italic;
    font-variant: normal;
    margin-bottom: 0.5pc;
}

hr{
    text-align: center;
    margin: 2em auto 2.5em auto;
}

article > header {
    margin: 0em 4em 0em 0em;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

article > header > h1, h2 {
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

#row-2 {
    margin-top: 30px;
}

.card-columns {
    margin-top: 3em;
}

.tree li.more::before{
    content: '○';
}

.uc sup {
    font-variant: normal;
}

.num sup, .uc sup{
    text-transform: none;
}

.title{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  h4{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
  }
.msIdentifier {
    text-align: center;
    color: #999;
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0 1ex 2ex;
  }

div.msIdentifier
{
    font-weight: bold;
    margin-bottom: 1em;
    display:inline-block;
}

span
{
    padding-right: 3px;
}

.dateline
{
    display:inline-block;
    text-indent: unset;
}

.head.manuscrit{
    color:black;
    font-weight: bold;

}

.head.manuscrit{
    color:black;
    font-weight: bold;

}
li.witness .msIdentifier{
 font-size: inherit;
 display: inline-block;
}

li.witness a{
    display: inline-block;
   }

.msIdentifier{
    font-weight: bold;
    padding: 1em 0 1ex 2ex;
    font-size: larger;
    text-align: inherit;
    color: red;
}

table,
td {
    border: 1px solid #333;

}

table th{
    background-color: #333;
    color: #fff;
    text-align: center;
}
tr.msItem {font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;font-size:12px;line-height: normal;margin-bottom:1em;}

span.locus {display: block;}

th.locus{
    width: 15%;
}

th.incipit{
    width: 40%;
}

div.incipit{
    padding-top: 1.5em;
}

h4.head.manuscrit{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    font-size: 1.5em;
}

h4.incipit{
    color: inherit;
    font-weight: bold;
    line-height: inherit;
    font-size: larger;
    text-decoration: underline;
}

h3.head.soustraduction{
    font-size: 2em;
}

h5.titleMsPart{
    font-size: 1.5em;
    font-weight: bold;
}